{% extends "base.html" %}
{% block title %}
Is path under the static directory?
{% endblock %}
{% block content %}
<h1>
  Is path under the static directory?
</h1>

<form action="." method="get">
  <label for="domain">Path:</label>
  <input type="text" id="path" name="path" value="https://example.com/static/" readonly>

  <label for="url">URL:</label>
  <input type="text" id="url" name="url" value="{{ url|default:"" }}">
  <label for="function">Function:</label>
  <select name="function" id="function">
    {% for function in functions %}
    <option value="{{ function }}" {% if function == selected_function %}selected{% endif %}>
      {{ function }}
    </option>
    {% endfor %}
  </select>
  <button type="submit">Check</button>
</form>

<h2>
  Result
</h2>

<div>
  <p>
  <a href="{{ url }}" target="_blank">{{ url }}</a>
  </p>

  <h1>
    {% if result %}
    <i class="fa-solid fa-circle-check fa-2xl pico-color-green-500"></i>
    {% else %}
    <i class="fa-solid fa-circle-xmark fa-2xl pico-color-red-500"></i>
    {% endif %}
  </h1>
</div>
{% endblock %}
